extends ../admin/layout

block css

block content
    .row
        .col-sm-5
            div.btn-group(role="group")
                button.btn.btn-default
                 | 点击：
                 span.badge #{clickCount}
                button.btn.btn-default
                 | 留言：
                 span.badge #{listCount}
                button.btn.btn-default
                 | 对话：
                 span.badge #{chatCount}
        .col-sm-7
            form.form-inline(method="POST" action="/admin/leavemes/"+way+"/1" target="_self")
                .form-group
                    label 开始：
                    input.form-control(id="timeStart" name="search[timeStart]" type="date")
                .form-group
                    label 结束：
                    input.form-control(id="timeEnd" name="search[timeEnd]" type="date")
                button.btn.btn-primary(type="submit") 查询
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th 渠道
                    th 名称
                    th 手机
                    th 微信
                    th 留言内容
                    th 创建时间
                    th 最近聊天时间
                    th 聊天
                    th 完成
            tbody
                if users&&users.length>0
                    each item in users
                        tr(class="item-id-"+item._id)
                            if(item.way&&item.way.name)
                                td #{item.way.name}
                            else
                                td 无渠道
                            td #{item.nickName}
                            td #{item.phone}
                            td #{item.wx}
                            td #{item.leaveMes}
                            td #{moment(item.createAt).format('MM-DD--HH:mm')}
                            td #{moment(item.updateAt).format('MM-DD--HH:mm')}
                            td: a.btn.btn-success.btn-sm(target="_blank", href= "/chat/"+item._id) 聊天
                            if(item.finish)
                                td: a 已经完成
                            else
                                td: a.btn.btn-danger.btn-sm.finish(data-id=item._id) 点击完成
    .row
        .col-sm-8
            ul#page.pagination
                - var n=1
                while n <= totalPageNum
                    if(n==pageNum)
                        li: a(class="active" href="/"+way+"/leavemes/"+n)=n++
                    else
                        li: a(href="/admin/leavemes/"+way+"/"+n)=n++
        .col-sm-3.text-right
            a#excel.btn.btn-warning(href="/excel/" + way) 下载EXCEL

block js
    script(src="/admin/js/leaveMesList.js")

