extends ../admin/layout

block css

block content
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th 用户
                    th 内容
                    th 发言时间
                    th 审核人
                    th 审核时间
                    th 审核
                    th 删除
            tbody
                if messages && messages.length > 0
                    each message in messages
                        tr(class="item-id-" + message._id)
                            td #{message.from.name}
                            td #{message.content}
                            td #{moment(message.createAt).format('HH:MM-MM/DD/YYYY')}
                            if message.verifier
                                td #{message.verifier.name}
                                td #{moment(message.updateAt).format('MM/DD/YYYY-HH:MM')}
                                td 已经审核通过
                            else
                                td 暂未审核
                                td 暂未审核
                                td: button.btn.btn-success.success(type="button", data-id=message._id) 审核
                            td: button.btn.btn-danger.del(type="button", data-id=message._id) 删除
    .row
        form(method="POST" action="/admin/messagequery/" id="search")
            each val,key in search
                input(type="hidden" value=val name="search["+key+"]")
        - var n=1
        div
            ul#page.pagination
                while n <= totalPageNum
                    li: a(href="javascript:void(0)")=n++


block js
    script(src="/socket.io/socket.io.js")
    script(src="/admin/js/messageQuery.js")
