extends ../admin/layout

block css

block content
    .row
        .col-sm-5
            div.btn-group(role="group")
                button.btn.btn-default
                    | 点击次数：
                    span.badge #{clickCount}
                button.btn.btn-default
                    | 留言人数：
                    span.badge #{listCount}
                button.btn.btn-default
                    | 对话人数：
                    span.badge #{chatCount}
        .col-sm-7
            form.form-inline(method="POST" action="/"+way+"/leavemes/1" target="_self" id="form")
                .form-group
                    label 开始：
                    input.form-control(id="timeStart" name="search[timeStart]" type="date" value=timeStart)
                .form-group
                    label 结束：
                    input.form-control(id="timeEnd" name="search[timeEnd]" type="date" value=timeEnd)
                button.btn.btn-primary(type="submit") 查询
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th 渠道
                    th 名称
                    th 手机
                    th 留言内容
                    th 创建时间
                    th 最近聊天时间
                    th 聊天
                    th 完成
            tbody
                if users&&users.length>0
                    each item in users
                        tr(class="item-id-"+item._id)
                            td #{item.way}
                            td #{item.nickName}
                            td #{item.phone}
                            td #{item.leaveMes}
                            td #{moment(item.createAt).format('YYYY-MM-DD--HH:mm:ss')}
                            td #{moment(item.updateAt).format('YYYY-MM-DD--HH:mm:ss')}
                            td: a.btn.btn-success.btn-sm(target="_blank", href= "/chat/"+item._id) 聊天
                            if(item.finish)
                                td: a 已经完成
                            else
                                td: a.btn.btn-danger.btn-sm.finish(data-id=item._id) 点击完成
    .row
        .col-sm-8
            ul#page.pagination
                - var n=1
                while n <= totalPageNum
                    if(n==pageNum)
                        li: a(class="active" data-page=n src="javascript:void(0)")=n++
                    else
                        li: a(data-page=n src="javascript:void(0)")=n++
        .col-sm-3.text-right
            a#excel.btn.btn-warning(href="/excel/" + way) 下载EXCEL

block js
    script(src="/admin/js/leaveMesList.js")
    script(src="/admin/js/searchMesList.js")

