extends ../admin/layout

block css

block content
    .row
        form.form-horizontal(method="POST" action="/admin/user/update")
            input(type="hidden" name="user[_id]" value=user._id)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="signUpName") 用户名：
                div.col-sm-4
                    input.form-control(id="signUpName" name="user[name]" type="text" value=user.name)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="signUpNickName") 昵称：
                div.col-sm-4
                    input.form-control(id="signUpNickName" name="user[nickName]" type="text" value=user.nickName)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="signUpPhone") 手机：
                div.col-sm-4
                    input.form-control(id="signUpPhone" name="user[phone]" type="text" value=user.phone)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="signUpEmail") 邮箱：
                div.col-sm-4
                    input.form-control(id="signUpEmail" name="user[email]" type="text" value=user.email)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label 性别：
                div.col-sm-4
                    if user.sex=="male"
                        label.radio-inline(for="signUpSexMale")
                            input(id="signUpSexMale" name="user[sex]" type="radio" value="male" checked="checked")
                            | 男
                        label.radio-inline(for="signUpSexFemale")
                            input(id="signUpSexFemale" name="user[sex]" type="radio" value="female")
                            | 女
                    else
                        label.radio-inline(for="signUpSexMale")
                            input(id="signUpSexMale" name="user[sex]" type="radio" value="male")
                            | 男
                        label.radio-inline(for="signUpSexFemale")
                            input(id="signUpSexFemale" name="user[sex]" type="radio" value="female" checked="checked")
                            | 女
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="signUpLevel") 等级：
                div.col-sm-4
                    input.form-control(id="signUpLevel" name="user[level]" type="number" value=user.level)
            div.form-group
                label.col-sm-2.col-sm-offset-3.control-label(for="signUpBelong") 所属直播室：
                div.col-sm-4
                    mixin option(value)
                        if user.room&&user.room.id==value.id
                            option(value=value._id selected)=value.title
                        else
                            option(value=value._id)=value.title
                    select.form-control(id="signUpBelong" name="user[room]")
                        option(value='')='请选择'
                        each val in rooms
                            +option(val)
            div.form-group
                div.col-sm-offset-5.col-sm-2.text-center
                    input.btn.btn-success(id="submit" type="submit" value="提交")
                div.col-sm-2.text-center
                    input.btn.btn-warning(id="reset" type="reset" value="重置")

block js
