extends ../admin/layout

block css

block content
    .row
        table.table.table-hover.table-bordered
            thead
                tr
                    th 用户名
                    th 昵称
                    th 手机
                    th 邮箱
                    th 性别
                    th 等级
                    th 所属公司
                    th 是否被禁用
                    th 创建时间
                    th 上次修改时间
                    th 是否在线
                    th 查看
                    th 修改
                    th 删除
            tbody
                if users&&users.length>0
                    each item in users
                        tr(class="item-id-"+item._id)
                            td #{item.name}
                            td #{item.nickName}
                            td #{item.phone}
                            td #{item.email}
                            td #{item.sex}
                            td #{item.level}
                            if(user.room && user.room.title)
                                td #{user.room.title}
                            else
                                td 未分配
                            td
                                if(item.forbidden)
                                    button.btn.btn-success.change(type="button",data-id=item._id) 解禁
                                else
                                    button.btn.btn-warning.change(type="button",data-id=item._id) 禁用
                            td #{moment(item.createAt).format('MM/DD/YYYY')}
                            td #{moment(item.updateAt).format('MM/DD/YYYY')}
                            td #{item.online}
                            td: a(target="_blank", href= "/admin/userdetail/"+item._id) 查看
                            td: a(target="_blank", href= "/admin/userupdate/"+item._id) 修改
                            td: button.btn.btn-danger.del(type="button", data-id=item._id) 删除
    .row
        form(method="POST" action="/admin/user/query/" id="search")
            each val,key in search
                input(type="hidden" value=val name="search["+key+"]")
        - var n=1
        div
            ul#page.pagination
                while n <= pageCount
                    li: a(href="javascript:void(0)")=n++


block js
    script(src="/socket.io/socket.io.js")
    script(src="/admin/js/userQuery.js")
